
.head {
	background-color: #8B86CC;

}
.head > h1{
	margin: 5px;
	margin-left: 10px;
}
.menu{
	display: flex;
	justify-content: flex-end;
    margin-right: 20px;
}
.menu > a{
	color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 3px;
    margin-right: 10px;
}

body {
	background-color: #B8B8B8;
}
.cuerpo{
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.img{
	margin-left: 20px;
	margin-right: 10px;
}
.img>img{
	display: block;
	border-radius: 100%;
}
.informacion{
	margin-left: 20px;
	margin-right: 40px;
}
table{
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 3px;
}

footer{
	background-color: #5EA1CA;
	margin-top: 15px;
}
.footer{
	display: flex;
	justify-content: space-around;
}
.footer > div{
	margin: 5px;
}