
.head {
	background-color: #8B86CC;
	margin-top: 10px;
	margin-bottom: 10px;
}
.head > h1{
	margin: 5px;
	margin-left: 10px;
}
.menu{
	display: flex;
	justify-content: flex-end;
    margin-right: 20px;
}
.menu > a{
	color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 3px;
    margin-right: 10px;
}

body {
	background-color: #B8B8B8;
}

footer{
	background-color: #5EA1CA;
	margin-top: 15px;
}
.footer{
	display: flex;
	justify-content: space-around;
}
.footer > div{
	margin: 5px;
}