/*para patallas de mas de 1200px*/
.head {
	background-color: #8B86CC;
	margin-top: 10px;
	margin-bottom: 10px;
}
.head > h1{
	margin: 5px;
	margin-left: 10px;
}
.menu{
	display: flex;
	justify-content: flex-end;
    margin-right: 20px;
}
.menu > a{
	color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 3px;
    margin-right: 10px;
}

body {
	background-color: #B8B8B8;
}

footer{
	background-color: #5EA1CA;
	margin-top: 15px;
}
.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer > div{
	margin: 5px;
}
.imgFooter{
	width: 25px;
	height: 25px;
}

/*pantallas max 900px*/
@media screen and (max-width:  900px){
	.footer{
		font-size: 10px;
	}
	.imgFooter{
		width: 15px;
		height: 15px;
	}
}

/*pantallas max 600px*/
@media screen and (max-width:  600px){
	.head > h1{
		font-size: 20px;
	}
	.menu > a{
		font-size: 12px;
	}
	
}